body {
    margin: 0;
    width: 100%;
    background: Black url("images/act-3-world-layer-base.jpg") no-repeat fixed;
}
.logo {
    display: block;
    margin: auto;
}
.ui-accordion .ui-accordion-content {
    padding: 0px;
}
ul {
    list-style-type: none;
}
table {
    display: block;
    margin: auto;
    max-width: 1300px;
}
.item-selection {
    min-width: 500px;
    max-width: 500px;
    min-height: 100%;
}
.item-filter {
    float: left;
    min-width: 220px;
    min-height: 100%;
}
.item-result {
    min-width: 250px;
    min-height: 100%;
}
.statistics {
    float: right;
    min-height: 100%;
    opacity: .7;
}
.items-selected {
    background-color: darkgray;
    opacity: .5;
}
canvas {
    background-color: black;
}
.item-result-list {
    overflow-y: auto;
    max-height: 400px;
}
#item-drop {
    min-width: 200px;
    float: left;
}
.item-icon {
    width: 47px;
    height: 47px;
}
.ui-widget-content {
    min-width: 250px;
    width: 100%;
    width: auto;
}
ol#statsList {
    display: flex;
}
.gold-coins {
    float: left;
    width: 15px;
    height: 15px;
}
.mini-info {
    font-size: 12px;
    color: black;
    display: inline-block;
    font-weight: normal;
}
#item-result-list {
    background-color: #f4f0ec;
    border-radius: 5px;
}
ul {
    padding: 10px;
}
.droppedList {
    overflow-y: auto;
    height: 400px;
}
.game-header {
    border-radius: 5px 5px 0px 0px;
    text-align: center
}
.game-content {
    border-radius: 0px 0px 5px 5px;
}
stats {
    color : green;
}
consumable {
    color : darkgoldenrod;
}

unique {
    color : gold;
}
active {
    color: gold;
}
.ui-tooltip{
    font-size: 12px;
    font-family: serif;
}
