body {
    margin: 0;
    width: 100%;
    background-attachment: fixed;
}
.logo {
    display: block;
    margin: auto;
}
.ui-accordion .ui-accordion-content {
    padding: 0px;
}
ul {
    list-style-type: none;
}
table {
    display: block;
    margin: auto;
    max-width: 1300px;
}
.item-selection {
    min-width: 500px;
    max-width: 500px;
    min-height: 100%;
}
.item-filter {
    float: left;
    min-width: 220px;
    min-height: 100%;
}
.item-result {
    min-width: 250px;
    min-height: 100%;
}
.statistics {
    float: right;
    min-height: 100%;
    opacity: .7;
}
.items-selected {
    background-color: darkgray;
    opacity: .5;
}
canvas {
    background-color: black;
}
.item-result-list {
    overflow-y: auto;
    max-height: 400px;
}
#item-drop {
    min-width: 200px;
    float: left;
}
.item-icon {
    width: 47px;
    height: 47px;
}
.ui-widget-content {
    min-width: 250px;
    width: 100%;
    width: auto;
}
ol#statsList {
    display: flex;
}
.gold-coins {
    float: left;
    width: 15px;
    height: 15px;
}
.mini-info {
    font-size: 12px;
    display: inline-block;
    background-color: #ffffff;
    opacity: 0.6;
    width: 70%;
}

ul {
    padding: 10px;
}
.droppedList {
    overflow-y: auto;
    height: 400px;
}
