<table>
    <tr>
        <!-- First row -->
        <td>
            <div id="startGame">
                <div class="game-header ui-widget-header">Start Game Items</div>
                <div class="game-content ui-widget-content">
                    <ol id="startGameList" class="droppedList">
                        <li class="placeholder">Add your items here</li>
                    </ol>
                </div>
            </div>
        </td>

        <!-- Second row -->

        <td>
            <div id="midGame">
                <div class="game-header ui-widget-header">Mid Game Items</div>
                <div class="game-content ui-widget-content">
                    <ol id="midGameList" class="droppedList">
                        <li class="placeholder">Add your items here</li>
                    </ol>
                </div>
            </div>
        </td>

        <!-- Third row -->
        <td>
            <div id="endGame">
                <div class="game-header ui-widget-header">End Game Items</div>
                <div class="game-content ui-widget-content">
                    <ol id="endGameList" class="droppedList">
                        <li class="placeholder">Add your items here</li>
                    </ol>
                </div>
            </div>
        </td>
    </tr>
</table>
