<table>
    <tr>
        <!-- First row -->
        <td>
            <div id="startGame">
                <h1 class="ui-widget-header">Start Game Items</h1>
                <div class="ui-widget-content">
                    <ol>
                        <li class="placeholder">Add your items here</li>
                    </ol>
                </div>
            </div>
        </td>
        <!-- Second row -->
        <td>
            <div id="midGame">
                <h1 class="ui-widget-header">Mid Game Items</h1>
                <div class="ui-widget-content">
                    <ol>
                        <li class="placeholder">Add your items here</li>
                    </ol>
                </div>
            </div>
        </td>
        <!-- Third row -->
        <td>
            <div id="endGame">
                <h1 class="ui-widget-header">End Game Items</h1>
                <div class="ui-widget-content">
                    <ol>
                        <li class="placeholder">Add your items here</li>
                    </ol>
                </div>
            </div>
        </td>
    </tr>
</table>
