<table>
    <tr>
        <!-- First row -->
        <td>
            <div id="startGame">
                <h2 class="ui-widget-header">Start Game Items</h2>
                <div class="ui-widget-content">
                    <ol id=startGameList class=startGameList>
                        <li class="placeholder">Add your items here</li>
                    </ol>
                </div>
            </div>
        </td>
        <!-- Second row -->
        <td>
            <div id="midGame">
                <h2 class="ui-widget-header">Mid Game Items</h2>
                <div class="ui-widget-content">
                    <ol id="midGameList" class="midGameList">
                        <li class="placeholder">Add your items here</li>
                    </ol>
                </div>
            </div>
        </td>
        <!-- Third row -->
        <td>
            <div id="endGame">
                <h2 class="ui-widget-header">End Game Items</h2>
                <div class="ui-widget-content">
                    <ol id="endGameList" class="endGameList">
                        <li class="placeholder">Add your items here</li>
                    </ol>
                </div>
            </div>
        </td>
    </tr>
</table>
