<div id=filter-accordion style=max-width:320px;>

    <h3 id=all-items>All Items</h3>
    <div id=show-all-items>Show all items</div>

    <h3 id=starting-items>Starting Items</h3>
    <div id=starting-item-content>
        <ul>
            <li>Jungle</li>
            <li>Lane</li>
        </ul>
    </div>

    <h3 id=tools>Tools</h3>
    <div id=tools-content>
        <ul>
            <li>Consumable</li>
            <li>Gold Income</li>
            <li>Vision and Trinkets</li>
        </ul>
    </div>

    <h3 id=defence>Defence</h3>
    <div id=defence-content>
        <ul>
            <li>Armor</li>
            <li>Health</li>
            <li>Health Regen</li>
            <li>Magic Resist</li>
        </ul>
    </div>

    <h3 id=attack>Attack</h3>
    <div id=attack-content>
        <ul>
            <li>Attack Speed</li>
            <li>Critical Strike</li>
            <li>Damage</li>
            <li>Life Steal</li>
        </ul>
    </div>

    <h3 id=magic>Magic</h3>
    <div id=magic-content>
        <ul>
            <li>Cooldown Reduction</li>
            <li>Mana</li>
            <li>Mana Regen</li>
            <li>Ability Power</li>
        </ul>
    </div>

    <h3 id=movement>Movement</h3>
    <div id=movement-content>
        <ul>
            <li>Boots</li>
            <li>Other Movement</li>
        </ul>
    </div>

</div>
