<div id=filter-accordion style=max-width:250px;>

    <h3 id=all-items>All Items</h3>
    <div id=show-all-items>
        <ul>
            <li>
                <input type="checkbox" id=show-all />Show all items</li>
        </ul>
    </div>

    <h3 id=starting-items>Starting Items</h3>
    <div id=starting-item-content>
        <ul >
            <li>
                <input type="checkbox" id=jungle />Jungle</li>
            <li>
                <input type="checkbox" id=lane />Lane</li>
        </ul>
    </div>

    <h3 id=tools>Tools</h3>
    <div id=tools-content>
        <ul >
            <li>
                <input type="checkbox" id=consumable />Consumable</li>
            <li>
                <input type="checkbox" id=gold-income />Gold Income</li>
            <li>
                <input type="checkbox" id=vision-trinket/>Vision and Trinkets</li>
        </ul>
    </div>

    <h3 id=defence>Defence</h3>
    <div id=defence-content>
        <ul >
            <li>
                <input type="checkbox" id=armor />Armor</li>
            <li>
                <input type="checkbox" id=health />Health</li>
            <li>
                <input type="checkbox" id=health-regen />Health Regen</li>
            <li>
                <input type="checkbox" id=magic-resist />Magic Resist</li>
        </ul>
    </div>

    <h3 id=attack>Attack</h3>
    <div id=attack-content>
        <ul >
            <li>
                <input type="checkbox" id=attack-speed />Attack Speed</li>
            <li>
                <input type="checkbox" id=critical-strike />Critical Strike</li>
            <li>
                <input type="checkbox" id=damage />Damage</li>
            <li>
                <input type="checkbox" id=life-steal />Life Steal</li>
        </ul>
    </div>

    <h3 id=magic>Magic</h3>
    <div id=magic-content>
        <ul >
            <li>
                <input type="checkbox" id=cdr />Cooldown Reduction</li>
            <li>
                <input type="checkbox" id=mana />Mana</li>
            <li>
                <input type="checkbox" id=mana-regen />Mana Regen</li>
            <li>
                <input type="checkbox" id=ap />Ability Power</li>
        </ul>
    </div>

    <h3 id=movement>Movement</h3>
    <div id=movement-content>
        <ul >
            <li>
                <input type="checkbox" id=boots />Boots</li>
            <li>
                <input type="checkbox" id=other-move />Other Movement</li>
        </ul>
    </div>

</div>
